.Quotes{
    padding-top: 200px;
}

#first-container{
  padding-top: 300px;

}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .card {
    flex: 0 0 auto;
    width: 18rem;
    margin-right: 10px;
  }

.logos img {
  margin: 5px;
  max-width: 100px; 
  height: auto;
}

/* nav bar */

nav-header{
  padding-bottom: 50px;
}